{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^(cplibrary|cpicons|cputil|cpclient|@cpclient|cpshots).*$",
    "pages/.*$",
    "widgets/.*$",
    "features/.*$",
    "entities/.*$",
    "shared/.*$",
    "^(constants|data|hooks|util|utils)/.*$",
    "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
    "\\.(css|scss)$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
