html {
  ::-webkit-scrollbar-track {
    opacity: 0;
  }
  ::-webkit-scrollbar {
    width: 0.5vw;
  }
  ::-webkit-scrollbar-thumb {
    opacity: 0;
  }
}
html,
body {
  overflow-x: hidden;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

body {
  background: #454545;
  background-image: linear-gradient(335deg, rgb(41, 41, 41) 23px, transparent 23px),
    linear-gradient(155deg, rgb(41, 41, 41) 23px, transparent 23px),
    linear-gradient(335deg, rgb(41, 41, 41) 23px, transparent 23px),
    linear-gradient(155deg, rgb(41, 41, 41) 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar-track {
    opacity: 0;
  }
  ::-webkit-scrollbar {
    width: 0.5vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff8f0070;
    border-radius: 50px;
  }

  --toolbar-height: 64px;
}

#root {
  height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
